
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #222;
}

header {
    padding: 1em;
    overflow: hidden;
    background-color: #1e1e1e;
    border-bottom: 1px solid #444444;
}

nav {
    select,
    button {
        padding: 4px 10px;
        box-sizing: border-box;
        height: 24px;
        vertical-align: top;
        border: 0;
        border-radius: 2px;
        background: #aaaaaa;
    }

    select:hover:not(:disabled),
    button:hover:not(:disabled) {
        background: #dddddd;
        cursor: pointer;
    }

    // VS Code likes putting outlines on buttons, we don't want them
    select:focus,
    button:focus {
        outline: none;
    }
}

#currentState {
    padding: 1em;

    h3 {
        margin-top: 0;
    }

    pre {
        background: #2A3239;
        padding: 1em;
        border-radius: 2px;
    }
}

#currentState.noAction {
    // border-color: #3D4B57;
    // background: #4C647A
}

#currentState.evaluate {
    // border-color: #224F4A;
    // background: #23736A;
}

#currentState.execute {
    // border-color: #564A3C;
    // background: #78634A;
}

#currentState.produce {
    // border-color: #234861;
    // background: #21638F;
}

#currentState.consume {
    // border-color: #56363F;
    // background: #7A4151;
}

#currentState svg text {
    // fill: #fff;
}

#graph {
    width: 100%;
    height: 100%;
}

#graph svg {
    width: 100%;
    height: 100%;
}

div.graph {
    min-width: 300px;
    min-height: 200px;
    border: 1px solid #2A3239;

    canvas {
        min-width: 300px;
        min-height: 200px;
    }
}

.panel {
    overflow: auto;
}

.panel.noScroll {
    overflow: hidden;
}

#output.panel > * {
    margin: 1em;
}

.gutter.gutter-vertical {
    border: 1px solid #444444;
    border-width: 1px 0;
    background: #333333;
    cursor: row-resize;
}

.gutter:hover,
.gutter.dragged
 {
    background: #4aa2e0;
 }